.review-form {
  width: 820px;
  border: 1px solid #E0E0E0;
  background: #FCFCFC;
  padding: 20px;

  &__input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #E0E0E0;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 20px;

    &--body {
        height: 200px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &__section {
      grid-column: span 1 / span 1;
    }

    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #637381;

    &--bold {
      font-weight: 700;
      color: #333333;
    }

    &--light {
      font-weight: 400;
      color: #637381;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__submit {
    width: 173px;
    height: 36px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    padding: 8px 40px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
